<h1>Welcome!</h1>
<p>Spot Painting is a simple web app that lets you create spot paintings and share them with your friends. Ready to create your own? Get started <a href="#/create">here</a>!</p>
<p>Why spot paintings? Check out the <a href="#/about">about</a> page.</p>
<p>Looking for my contact info? Check out the <a href="#/contact">contact</a> page.</p>
<br />

<div style="text-align: center; display: block;" ng-repeat="colorArray in painting.painting track by $index" style="text-align: center; display: block;">
  <div ng-repeat="color in colorArray track by $index" style="height: 25px; width: 25px; border-radius: 50%; margin: 10px; display: inline-block; background-color: {{ color }}; transition-property: background-color; transition-duration: .25s; transition-timing-function: ease;">&nbsp;</div>
</div>
<br />