* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Futura, sans-serif;
  /*min-height: 1000px;*/
}

.center {
  text-align: center;
  width: 100%;
}

.simple-form {
  text-align: center;
  margin: 25px;
  padding: 5px;
  /*background: rgba(255,255,255,.75);*/
  /*position: absolute;*/
  z-index: 100;
  border-radius: 5%;
}

.field {
  margin: 3px;
}

.painting {
  position: absolute;
  z-index: -100;
}

.page-wrap {
  min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

/*header {
  background-color: yellow;
}*/

.site-footer {
  background-color: cyan;
  color: white;
}

a {
  color: cyan;
}

a:hover {
  color: magenta;
  text-decoration: none;
}

.contact {
  display: block;
}

.title {
  text-align: center;
}

/*.container-fluid {
  background-color: cyan;
}*/


.navbar {
  background-color: cyan;
}

.navbar li a:hover {
  background-color: rgba(255,255,0,.25);
  color: white;
}

.navbar li a {
  color: black;
}

.navbar-brand {
  color: black;
}

.navbar-brand:hover {
  background-color: rgba(255,0,255,.25);
  color: white;
}

.navbar-brand:visited {
  color: black;
}

.text-muted {
  color: black;
}

.site-footer a {
  color: black;
}

.site-footer a:hover {
  background-color: rgba(255,0,255,.25);
  color: white;
}
