html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Futura, sans-serif;
  margin-bottom: 75px;
}

.center {
  text-align: center;
  width: 100%;
}

.simple-form {
  text-align: center;
  margin: 25px;
  padding: 5px;
  border-radius: 5%;
}

.field {
  margin: 3px;
}

a {
  color: cyan;
}

a:hover {
  color: magenta;
  text-decoration: none;
}

.contact {
  display: block;
}

.title {
  text-align: center;
}

.navbar {
  background-color: cyan;
}

.navbar li a:hover {
  background-color: rgba(255,255,0,.25);
  color: white;
}

.navbar li a {
  color: black;
}

.navbar-brand {
  color: black;
}

.navbar-header a:hover {
  background-color: rgba(255,0,255,.25);
  color:white;
}

.navbar-header a:visited {
  color: black;
}

.text-muted {
  color: black;
}

.footer {
  background-color: cyan;
  color: white;
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
}

.footer a {
  color: black;
}

.footer a:hover {
  background-color: rgba(255,0,255,.25);
  color: white;
}
