* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Futura, sans-serif;
}

.center {
  text-align: center;
  width: 100%;
}

.simple-form {
  text-align: center;
  margin: 25px;
  padding: 5px;
  background: rgba(255,255,255,.75);
  position: fixed;
  z-index: 100;
  border-radius: 5%;
}

.field {
  margin: 3px;
}

.painting {
  position: fixed;
  z-index: -100;
}

.page-wrap {
  min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

header {
  background-color: yellow;
}

.site-footer {
  background-color: cyan;
  color: white;
}

a {
  color: magenta;
}

a:hover {
  color: yellow;
  text-decoration: none;
}