.center {
  text-align: center;
  width: 100%;
}

.simple-form {
  text-align: center;
  margin: 25px;
  padding: 5px;
  background: rgba(255,255,255,.75);
  position: fixed;
  z-index: 100;
  border-radius: 5%;
}

.field {
  margin: 3px;
}

.painting {
  position: fixed;
  z-index: -100;
}